@use '../../styles/global';

.home{
    padding: 0px 24px;
}

.home-title-message{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    font-size: 22px;
}

.table-actions{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: space-between;
}

.table-action-btn{
    margin: 2px 5px;
}

.btn{
    background-color: global.$primary-color;
    border-color: global.$primary-color;
}